<div class="main-container">
  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav-container>

    <mat-sidenav #sidenav class="w-10p borderYel">
      <mat-list>
        <mat-list-item>
          <mat-icon>home</mat-icon>
          <span class="ml-10"> <a [routerLink]="['/']" (click)="sidenav.toggle()">Home</a> </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon>category</mat-icon>
          <span class="ml-10"> <a [routerLink]="['category']" (click)="sidenav.toggle()">Category</a> </span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="borderYel">
      <h1>teste</h1>
      <h1>teste</h1>
      <h1>teste</h1>
      <h1>teste</h1>
      <h1>teste</h1>
      <h1>teste</h1>
      <h1>teste</h1>
     <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer class="borderCya"></app-footer>
</div>

