/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-10p {
  width: 10%;
}

.ml-10 {
  margin-left: 10px;
}

.flx-cnter-row {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.fl-evly {
  justify-content: space-evenly;
}

.w-100 {
  width: 100%;
}

.m-20 {
  margin: 20px;
}

.mr-10 {
  margin-right: 10px !important;
}

.w-450 {
  width: 450px;
}

.flx-clm {
  display: flex;
  flex-direction: column;
}
